/* line 3, /Users/jamesbrennan/development/projects/james-brennan-resume/source/stylesheets/all.css.scss */
header.navbar {
  padding-bottom: 10px; }
  /* line 4, /Users/jamesbrennan/development/projects/james-brennan-resume/source/stylesheets/all.css.scss */
  header.navbar h1, header.navbar h2 {
    margin-bottom: 0;
    margin-top: 0; }
  /* line 8, /Users/jamesbrennan/development/projects/james-brennan-resume/source/stylesheets/all.css.scss */
  header.navbar h2 {
    font-size: 22px; }
  /* line 11, /Users/jamesbrennan/development/projects/james-brennan-resume/source/stylesheets/all.css.scss */
  header.navbar .vcard {
    margin-top: 22px; }

/* line 17, /Users/jamesbrennan/development/projects/james-brennan-resume/source/stylesheets/all.css.scss */
.company {
  margin-top: 20px; }
  /* line 20, /Users/jamesbrennan/development/projects/james-brennan-resume/source/stylesheets/all.css.scss */
  .company header h1 {
    font-size: 24px; }
  /* line 23, /Users/jamesbrennan/development/projects/james-brennan-resume/source/stylesheets/all.css.scss */
  .company header .date {
    display: block;
    font-size: 14px; }
  /* line 27, /Users/jamesbrennan/development/projects/james-brennan-resume/source/stylesheets/all.css.scss */
  .company header .explanation {
    display: block;
    font-size: 12px;
    color: gray; }
  /* line 34, /Users/jamesbrennan/development/projects/james-brennan-resume/source/stylesheets/all.css.scss */
  .company .description h1 {
    font-size: 20px; }

/* line 42, /Users/jamesbrennan/development/projects/james-brennan-resume/source/stylesheets/all.css.scss */
.page-header.top,
.i-know h1,
.ive-worked h1 {
  margin-top: 0; }

/* line 46, /Users/jamesbrennan/development/projects/james-brennan-resume/source/stylesheets/all.css.scss */
.ive-worked {
  margin-top: 20px; }

/* line 51, /Users/jamesbrennan/development/projects/james-brennan-resume/source/stylesheets/all.css.scss */
section h1 {
  font-size: 2em; }
  /* line 53, /Users/jamesbrennan/development/projects/james-brennan-resume/source/stylesheets/all.css.scss */
  section h1:first-child {
    margin-top: 0; }
/* line 57, /Users/jamesbrennan/development/projects/james-brennan-resume/source/stylesheets/all.css.scss */
section h2 {
  font-size: 1.6em; }
/* line 61, /Users/jamesbrennan/development/projects/james-brennan-resume/source/stylesheets/all.css.scss */
section section h1 {
  font-size: 1.6em; }
/* line 64, /Users/jamesbrennan/development/projects/james-brennan-resume/source/stylesheets/all.css.scss */
section section h2 {
  font-size: 1.3em; }

/* line 70, /Users/jamesbrennan/development/projects/james-brennan-resume/source/stylesheets/all.css.scss */
ul {
  padding-left: 0;
  list-style: none; }
  /* line 73, /Users/jamesbrennan/development/projects/james-brennan-resume/source/stylesheets/all.css.scss */
  ul ul {
    padding-left: 20px;
    list-style: circle; }
